#GEMNI API
GEMINI_API_KEY=11  # Replace with your actual Gemini API key

#WAAPI
WAAPI_API_KEY=
WAAPI_BASE_URL=https://waapi.app/api/v1/instances/64419
WAAPI_TIMEOUT=30
WAAPI_SSL_VERIFY=False
WAAPI_INSTANCE_ID=  # Replace with your actual instance ID
WAAPI_CHATID=  # Replace with your actual instance name
#TEAMS
TEAMS_WEBHOOK_URL=
#Github Model
API_HOST=github
GITHUB_MODEL=gpt-4o
GITHUB_TOKEN =
#Redis
CELERY_BROKER_URL = 'redis://localhost:6379/0'
#OutLook
DIRECTORY_TENANT_ID=
APPLICATION_CLIENT_ID=
CLIENT_SECRET=
