#GEMNI API
#GEMINI_API_KEY=AIzaSyDM_wO7kDONoQI05cWYRUMJKmo5_VRPkZY
GEMINI_API_KEY=11

#WAAPI
WAAPI_API_KEY=45gi4m3kUWmf1CZS9hS2aZHc1iGlHeccGjArCaS7d2ee7d6c
WAAPI_BASE_URL=https://waapi.app/api/v1/instances/64419
WAAPI_TIMEOUT=30
WAAPI_SSL_VERIFY=False
WAAPI_INSTANCE_ID=64419  # Replace with your actual instance ID
WAAPI_CHATID=923423311653@c.us  # Replace with your actual instance name
#TEAMS
TEAMS_WEBHOOK_URL=https://pern.webhook.office.com/webhookb2/b6bdde7c-c22b-46b5-bf7a-d4a02cc0daf8@75df096c-8b72-48e4-9b91-cbf79d87ee3a/IncomingWebhook/b266c518e8b64cdfa267f2a7948a23ab/c8dba7ff-6bfd-4f06-92f2-fa8f96b5e923/V2QPXtP4-iiHEdZUkWp1Hp0ZUdGS3dusjbvnn4gJ6wSTE1
#Github Model
API_HOST=github
GITHUB_MODEL=gpt-4o
GITHUB_TOKEN =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
#Redis
CELERY_BROKER_URL = 'redis://localhost:6379/0'
#OutLook
DIRECTORY_TENANT_ID=6439cfa2-5caf-43a2-8500-dfadf3033289
APPLICATION_CLIENT_ID=9fde999d-dfae-4ef4-be61-7db82aaee8fb
CLIENT_SECRET=P6Q8Q~RDCi3Ov.wrOP0Uo4niz9HkmY9aMqxj1bu4
